<!DOCTYPE html>
<html lang="en">
<head>
    <title>login</title>
</head>
<body>
    <form method="post" action="http://localhost:5000/validate">
      <table>
        <tr>
            <td>Email</td>
            <td><input type="email" name="email"></input></td>
        </tr>

        <tr>
            <td>Password</td>
            <td><input type="password" name="pass"></input></td>
        </tr>

        <tr>
            <td><input type="submit" value="Submit"></input></td>
        </tr>

      </table>

    </form>
</body>
</html>